.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-color);
    border: 6px solid var(--background-color);
    padding-bottom: 1rem;
}

.home--title {
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
    padding: 0.8rem;
    border: 1px solid white;
    border-radius: 10px;
}

.home__pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;

    &--page-item {
    }

    &--page-link {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #007bff;
        background-color: #fff;
        border: 1px solid #dee2e6;
    }
}
