.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-bottom: 0.2rem solid var(--background-color);
}

/********/
/* Logo */
/********/

.header-logo {
    padding-left: 1rem;

    img {
        height: 4rem;
        border: 1.5px solid white;
        border-radius: 5px;
    }
}

/**********/
/* Search */
/**********/

.header-search {
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid white;
    background: white;
}

.header-search__container {
    display: flex;
    width: 24rem;
    height: 3rem;
}

.header-search__input {
    flex: 1 1 auto;
    padding-left: 1rem;
    border: none;
    
    &:focus-visible {
        outline: none;
    }
}

.header_search__button {
    flex: 0 1 3rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;

    &:hover {
        background-color: var(--terceary-color);
    }
}

/*****************/
/* Profile/Login */
/*****************/

.header-profile {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
}

.header-profile__cart {
    display: flex;
    align-items: center;
    color: var(--background-color);
    text-decoration: none;
    font-size: 1.25rem;


    &:hover {
        color: var(--secondary-color);
    }

    img {
        height: 1.5rem;
        padding-left: 1rem;
    }
}

.header-profile__cart--title {
    color: white;
    
    &:hover {
        color: var(--background-color)
    }
}

.header-profile__cart--total {
    color: white;
    background-color: var(--terceary-color);
    font-weight: 500;
    border-radius: 9999px;
    font-size: 1.2rem;
    line-height: 1.25rem;
    padding: 0.25rem 0.5rem;
    margin-left: 0.25rem;

}

.header-profile__container {
    margin-left: 1rem;
}

.header-profile__login-button {
    color: #ffffffc0;
    background-color: var(--terceary-color);
    border-radius: 9999px;
    padding: 0.375rem 1.75rem;
    text-decoration: none;

    &:hover {
        background-color: var(--background-color);
    }
}

.header-profile {
    position: relative;
}

.header-profile__user {
    display: flex;
    align-items: center;
    color: white;

    &-logo {
        width: 3rem;
        height: 3rem;
        border-radius: 9999px;
    }

    &-name {
        margin-left: 0.5rem;
    }

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
}

.header-profile__drop-down-menu--container {
    position: absolute;
    top: 3.5rem;
    right: 1rem;
}

.header-profile__drop-down-menu--list {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.6);
    width: 10rem;
    text-align: center;
    line-height: 3rem;

    a {
        height: 3rem;
        display: inline-block;

        &:hover {
            color: black;
            text-decoration: none;
        }

        &:last-child {
            color: red;

            &:hover {
                color: red;
            }
        }
    }
}
