name: CI

on:
    push:
        branches: [dev]
    pull_request:
        branches: [dev]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [12.x]
        steps:
            - name: Clone repository
              uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Install Packages
              run: npm ci
            # TODO: run tests in CI when they are added
            # - name: Run tests
            #   run: npm test
            - name: Run linter
              run: npm run lint
            # - name: Build
            #   run: npm run build
